@if ((int)Session["language"] == 1)
{
    <footer class=" container ">
        <div class="d-none d-lg-block w-100">
            <div class="d-flex justify-content-between">
                <div class="menu d-flex justify-content-start w-100 ">
                    <div class="logo">
                        <img src="~/Content/images/HOMEPAGE/logo-ft.png" alt="lg" class="w-100" />
                    </div>
                    <nav class="d-flex align-items-center ">
                        <ul class="d-flex justify-content-between w-100">
                            <li class="choose-option "><a class="option" href="~/WhyChooses/Index">ENTERPRISE BLOCKCHAIN</a></li>
                            <li class="choose-option"><a class="option" href="~/Industries/Index">INDUSTRIES</a></li>
                            <li class="choose-option"><a class="option" href="~/Works/Index">WORKS</a></li>
                            <li class="choose-option"><a class="option" href="~/Teams/Index">OUR TEAM</a></li>
                            <li class="choose-option"><a class="option" href="~/ContactÚs/Index">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="right-footer d-flex justify-content-between align-items-center ">
                    <div>
                        <a class="ft-contact" href="tel:0123456789">0123456789</a>
                    </div>
                    <div class="mxh">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="mxh">
                        <i class="fab fa-twitter"></i>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-block d-lg-none">
            <nav class="text-center">
                <ul class="justify-content-between w-100">
                    <li class="choose-option "><a class="option" href="~/WhyChooses/Index">ENTERPRISE BLOCKCHAIN</a></li>
                    <li class="choose-option"><a class="option" href="~/Industries/Index">INDUSTRIES</a></li>
                    <li class="choose-option"><a class="option"  href="~/Works/Index">WORKS</a></li>
                    <li class="choose-option"><a class="option" href="~/Teams/Index">OUR TEAM</a></li>
                    <li class="choose-option"><a class="option" href="~/ContactÚs/Index">CONTACT</a></li>
                </ul>
            </nav>
            <div class="right-footer text-center ">
                <div>
                    <a class="ft-contact" href="tel:0123456789">0123456789</a>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="mxh">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="mxh">
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>


            </div>
        </div>
    </footer>
}
else
{
    <footer class=" container ">
        <div class="d-none d-lg-block w-100">
            <div class="d-flex justify-content-between">
                <div class="menu d-flex justify-content-start w-100 ">
                    <div class="logo">
                        <img src="~/Content/images/HOMEPAGE/logo-ft.png" alt="lg" class="w-100" />
                    </div>
                    <nav class="d-flex align-items-center ">
                        <ul class="d-flex justify-content-between w-100">
                            <li class="choose-option "><a class="option" href="~/WhyChooses/Index">DOANH NGHIỆP</a></li>
                            <li class="choose-option"><a class="option" href="~/Industries/Index">LĨNH VỰC</a></li>
                            <li class="choose-option"><a class="option" href="~/Works/Index">VIỆC LÀM</a></li>
                            <li class="choose-option"><a class="option" href="~/Teams/Index">ĐỘI NGŨ</a></li>
                            <li class="choose-option"><a class="option" href="~/ContactÚs/Index">LIÊN HỆ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="right-footer d-flex justify-content-between align-items-center ">
                    <div>
                        <a class="ft-contact" href="tel:0123456789">0123456789</a>
                    </div>
                    <div class="mxh">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="mxh">
                        <i class="fab fa-twitter"></i>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-block d-lg-none">
            <nav class="text-center">
                <ul class="justify-content-between w-100">
                    <li class="choose-option "><a class="option" href="~/WhyChooses/Index">DOANH NGHIỆP</a></li>
                    <li class="choose-option"><a class="option" href="~/Industries/Index">LĨNH VỰC</a></li>
                    <li class="choose-option"><a class="option" href="~/Works/Index">VIỆC LÀM</a></li>
                    <li class="choose-option"><a class="option" href="~/Teams/Index">ĐỘI NGŨ</a></li>
                    <li class="choose-option"><a class="option"  href="~/ContactÚs/Index">LIÊN HỆ</a></li>
                </ul>
            </nav>
            <div class="right-footer text-center ">
                <div>
                    <a class="ft-contact" href="tel:0123456789">0123456789</a>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="mxh">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="mxh">
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>


            </div>
        </div>
    </footer>
}

