@if ((int)Session["language"] == 1)
{
    <header class="layout">
        <input type="number" value="1" id="language" hidden />
        <div class="container">
            <div class=" d-none d-lg-block">
                <div class="menu d-flex justify-content-between">
                    <div class="logo">
                        <a href="~/BlockChains/Index" title="home"><img src="~/Content/images/logo.png" alt="logo" class="w-100" /></a>
                    </div>
                    <nav class="d-flex align-items-center w-70">
                        <ul class="d-flex justify-content-between w-100">
                            <li class="choose-option "><a class="option" href="~/WhyChooses/Index">ENTERPRISE BLOCKCHAIN</a></li>
                            <li class="choose-option"><a class="option" href="~/Industries/Index">INDUSTRIES</a></li>
                            <li class="choose-option"><a class="option" href="~/Works/Index">WORKS</a></li>
                            <li class="choose-option"><a class="option" href="~/Teams/Index">OUR TEAM</a></li>
                            <li class="choose-option"><a class="option" href="~/ContactsUs/Index">CONTACT</a></li>
                            <li class="choose-option"><a class="option language2">ENG/VN</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="d-block d-lg-none d-flex justify-content-between w-100">
                <div class="menu-mobie">
                    <button class="btn-menu-mobie" data-display="0">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="show-menu">
                        <nav>
                            <ul class="d-block justify-content-between w-100 ">
                                <li class="choose-option "><a class="option" href="~/WhyChooses/Index">ENTERPRISE BLOCKCHAIN</a></li>
                                <li class="choose-option"><a class="option" href="~/Industries/Index">INDUSTRIES</a></li>
                                <li class="choose-option"><a class="option" href="~/Works/Index">WORKS</a></li>
                                <li class="choose-option"><a class="option" href="~/Teams/Index">OUR TEAM</a></li>
                                <li class="choose-option"><a class="option" href="~/ContactsUs/Index">CONTACT</a></li>
                                <li class="choose-option"><a class="option language2" href="#">ENG/VN</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="logo">
                    <a href="~/BlockChains/Index" title="home"><img src="~/Content/images/logo.png" alt="logo" /></a>
                </div>
            </div>


        </div>
    </header>

}
else
{
    
    <header class="layout">
        <input type="number" value="2" id="language" hidden/>
        <div class="container">
            <div class=" d-none d-lg-block">
                <div class="menu d-flex justify-content-between">
                    <div class="logo">
                        <a href="~/BlockChains/Index" title="home"><img src="~/Content/images/logo.png" alt="logo" class="w-100" /></a>
                    </div>
                    <nav class="d-flex align-items-center w-70">
                        <ul class="d-flex justify-content-between w-100">
                            
                            <li class="choose-option "><a class="option" href="~/WhyChooses/Index">DOANH NGHIỆP</a></li>
                            <li class="choose-option"><a class="option" href="~/Industries/Index">LĨNH VỰC</a></li>
                            <li class="choose-option"><a class="option" href="~/Works/Index">VIỆC LÀM</a></li>
                            <li class="choose-option"><a class="option" href="~/Teams/Index">ĐỘI NGŨ</a></li>
                            <li class="choose-option"><a class="option" href="~/ContactsUs/Index">LIÊN HỆ</a></li>
                            <li class="choose-option"><a class="option language2">ENG/VN</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="d-block d-lg-none d-flex justify-content-between w-100">
                <div class="menu-mobie">
                    <button class="btn-menu-mobie" data-display="0">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="show-menu">
                        <nav>
                            <ul class="d-block justify-content-between w-100 ">
                                <li class="choose-option "><a class="option" href="~/WhyChooses/Index">DOANH NGHIỆP</a></li>
                                <li class="choose-option"><a class="option" href="~/Industries/Index">LĨNH VỰC</a></li>
                                <li class="choose-option"><a class="option" href="~/Works/Index">VIỆC LÀM</a></li>
                                <li class="choose-option"><a class="option" href="~/Teams/Index">ĐỘI NGŨ</a></li>
                                <li class="choose-option"><a class="option" href="~/ContactsUs/Index">LIÊN HỆ</a></li>
                                <li class="choose-option"><a class="option language2" href="#">ENG/VN</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="logo">
                    <a href="~/BlockChains/Index" title="home"><img src="~/Content/images/logo.png" alt="logo" /></a>
                </div>
            </div>


        </div>
    </header>
}


