@font-face {
    font-family: 'Muli Bold';
    src: url('../../../fonts/muli/Muli Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli Regular';
    src: url('../../../fonts/muli/Muli Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Muli Black';
    src: url('../../../fonts/muli/Muli Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url('../../../fonts/muli/Montserrat Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url('../../../fonts/muli/Montserrat Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Light';
    src: url('../../../fonts/muli/Montserrat Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarabun-Regular';
    src: url('../../../fonts/Sarabun/Sarabun-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Sarabun-Bold';
    src: url('../../../fonts/Sarabun/Sarabun-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Sarabun-Italic';
    src: url('../../../fonts/Sarabun/Sarabun-Italic.ttf') format('truetype');
}