
@font-face {
    font-family: 'Sarabun-Bold';
    src: url('../Sarabun-fonts/Sarabun-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Sarabun-Medium';
    src: url('../Sarabun-fonts/Sarabun-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Sarabun-Italic';
    src: url('../Sarabun-fonts/Sarabun-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Sarabun-Regular';
    src: url('../Sarabun-fonts/Sarabun-Regular.ttf') format('truetype');
}