
    <div class="collapse border show objInfor">
        <div class="alert-danger mb-3 admins-h2 btn-red">
            POSITION
        </div>
        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Thứ tự</label>
            <input type="number" name="CODE" class="form-control" id="CODE" value="0">
        </div>
        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Name <small>[Title]</small></label>
            <input type="text" name="TITLE" class="form-control" id="TITLE" value="" maxlength="300">
        </div>
        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Mô tả</label>
            <textarea class="form-control" name="DESC" rows="3" id="description"></textarea>
        </div>
        <div class="form-group mb-3">
            <label class="font-weight-bold mb-1">Trạng thái</label>
            <input type="radio" name="STATUS" id="s1" data-value="1" value="1" class="ml-4" checked /> <label for="s1" class="mt-1 ml-2">Hoạt động</label>
            <input type="radio" name="STATUS" id="s2" data-value="0" value="0" class="ml-4" /> <label for="s2" class="mt-1 ml-2">Đang khóa</label>
        </div>
        <div class="row">
            <div class="col-md-12 text-right mr-0 pr-0 mt-1 mb-0 modal-footer">
                <button type="button" class="btn btn btn-red btnCancel"><i class="fas fa-reply-all"></i> Nhập lại</button>
                <button type="button" class="btn btn-green btnSave" data-id="0"> <i class="far fa-save"></i> Ghi lại</button>
            </div>
        </div>
        <div hidden>
            <input type="text" name="ID" id="ID" value="0" />
        </div>
    </div>




