<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../Css/home.css">
  <link rel="stylesheet" href="../Css/layout.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light-d-flex">
      <div class="logo">
        <a href="#"><img src="../Img/logo.png" alt=""></a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">WHY CHOOSE US</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">INDUSTRIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">WORKS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">OUR TEAM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">CONTACT</a>
            </li>
        </div>
      </div>
    </nav>
    <div class="banner">
      <div class="w-100">
        <img src="../Img/Banner_home2.png" alt="banner" class="w-100">
      </div>
      <div>
        <h1>
          Develop High-tech products
          <br> for Enterprise
        </h1>
        <p>
          We provide excellent development services in a wide range
          <br>of business industries with distributed systems
          <br>based on Blockchain technology
        </p>
        <button type="button" class="button-title">LEARN MORE</button>
      </div>
    </div>
  </header>
  <section>
    <div class="title">
      <h1>WELCOME TO TVM BLOCKCHAIN</h1>
      <p>Thank you for visiting us <br>
        If you are looking for a partner who is able to do software development tasks professionally,<br>
        definitely we are your SMART decision. Work with us and you won't be disappointed.
      </p>
      <div class="container text-center my-3">
        <div class="row mx-auto my-auto justify-content-center">
          <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-img">
                      <img src="../Img/slider1.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay">Slide 1</div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-img">
                      <img src="../Img/slider2.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay">Slide 2</div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-img">
                      <img src="../Img/slider3.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay">Slide 3</div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-img">
                      <img src="../Img/slider2.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay">Slide 4</div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-img">
                      <img src="../Img/slider1.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay">Slide 5</div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-img">
                      <img src="../Img/slider3.png" class="img-fluid">
                    </div>
                    <div class="card-img-overlay">Slide 6</div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="text-center">
        <h1>WE ARE ALWAYS LOOKING FOR COOPERATION
          <br>FOR MUTUAL DEVELOPMENT
        </h1>
      </div>
      <div class="box-content w-100 mx-auto pb-5">
        <div class="row">
          <div class="col-md-6">
            <ul style="margin-left: 12.5rem; padding: 0;">
              <li class="mb-4 d-flex align-items-center"><img src="/Img/list1.png" alt="img">
                <p class="ms-4 mb-0">With partners to bring to market high quality high-tech products
                </p>
              </li>
              <li class="mb-4 d-flex align-items-center"><img src="../Img/list2.png" alt="img">
                <p class="ms-4 mb-0">Promote and support appropriate startup ideas in the blockchain
                  field</p>
              </li>
              <li class="mb-4 d-flex align-items-center"><img src="../Img/list3.png" alt="img">
                <p class="ms-4 mb-0">With businesses to help them get products suitable for business
                  requirements</p>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <img src="../Img/img-content1.png" alt="">
          </div>
        </div>
      </div>
      <!-- OUR SERVICES -->
      <div class="our-services">
        <div class="text-center">
          <h1 class="fw-bold">OUR SERVICES</h1>
        </div>
      </div>
      <div class="container w-100 " style="width:0">
        <div class="row">
          <div class="col">
            <div class="card border-0">
              <img src="../Img/Layer16.png" class="card-img-top" alt="..." style="width: 100px;">
              <div class="card-body fw-bold">
                <h5 class="card-title fw-bold text-start">Software Development</h5>
                <p class="card-text text-start">Blockchain & DLT Applications
                  <br>Mobile & Web Applications
                  <br>Solution Architecture
                  <br>Agile Delivery Management
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0">
              <img src="../Img/Layer17.png" class="card-img-top" alt="..." style="width: 100px;">
              <div class="card-body fw-bold">
                <h5 class="card-title fw-bold text-start">Product Innovation</h5>
                <p class="card-text text-start">Product Ownership & Management
                  Product Discovery & Research
                  Micro & Macro Analysis
                  Data Driven UX Design</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0">
              <img src="../Img/Layer18.png" class="card-img-top" alt="..." style="width: 100px;">
              <div class="card-body fw-bold">
                <h5 class="card-title fw-bold text-start">Enterprise Consulting</h5>
                <p class="card-text text-start">Digital Transformation
                  Blockchain Strategy
                  Prototyping & Proof of Concepts
                  Technology & Product Roadmaps</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card border-0">
                <img src="../Img/Layer19.png" class="card-img-top" alt="..." style="width: 100px;">
                <div class="card-body fw-bold">
                  <h5 class="card-title fw-bold text-start">Infrastructure and Security</h5>
                  <p class="card-text text-start">Turnkey Clound Infrastructure DevOps as a Service Scalability,
                    Reliability, Security</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-0">
                <img src="../Img/Layer20.png" class="card-img-top" alt="..." style="width: 100px;">
                <div class="card-body fw-bold">
                  <h5 class="card-title fw-bold text-start">Economics</h5>
                  <p class="card-text text-start">Game Theory & Incentive Design Network Effect Design Economic
                    Modelling</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-0">
                <img src="../Img/Layer21.png" class="card-img-top" alt="..." style="width: 100px;">
                <div class="card-body fw-bold">
                  <h5 class="card-title fw-bold text-start">Blockchain System Design</h5>
                  <p class="card-text text-start">Trustless System Design Defining & Tokening Value Public & Private
                    Smart Contracts</p>
                </div>
              </div>
            </div>
          </div>
          <!-- RESEARCH AND DEVELOPMENT -->
          <div>
            <h1 class="card-title fw-bold text-center">RESEARCH AND DEVELOPMENT</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, eveniet assumenda itaque non, sequi
              omnis dolore reprehenderit laborum beatae amet doloribus autem repellat. Obcaecati, inventore saepe totam
              impedit explicabo iusto.</p>
            <button type="button" class="btn btn-primary btn-lg border-0">Discovery</button>
          </div>
          <div class="box-shadow" style="width: 50%; margin-top:2.5rem;">
            <div class="text-start">
              <div class="card-body">
                <h3 class="card-title" style="color:gray;">RESEARCH</h3>
                <h5 class="card-title" style="color: blue;">Digital Innovation</h5>
                <ul>
                  <li>
                    <p>Blockchain payment system</p>
                  </li>
                  <li>
                    <p>Investment Bank and Blockchain settlement</p>
                  </li>
                  <li>
                    <p>Real Estate Payment and management</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="box-shadow our-services-img-1">
            <div>
              <div>
                <h3 style="color:white;">DEVELOPMENT</h3>
                <h5 style="color:white;">Consensus for Settlement</h5>
                <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti perferendis
                  accusamus enim perspiciatis quas necessitatibus vitae asperiores neque similique, atque porro deserunt
                </p>
              </div>
            </div>
          </div>
          <div>
            <img src="../Img/Layer29.png" alt="">
          </div>
          <!-- OUR PARTNER -->
          <div class="our-partner position-relative" >
            <div class="card-body fw-bold">
              <h1 class="card-title" style="color:rgb(44, 14, 215);">OUR PARTNER</h1>
            </div>
            <div class="list-card d-flex justify-content-center ">
              <div class="card-1" style="width: 18rem; height: 20rem; ">
                <img src="../Img/Layer15.png" class="card-img-top" style="width: 120px; " alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card with stretched link</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <button type="button" class="w-100 text-white d-none"
                    style="height: 3rem; border: 2px solid white ; background-color: rgba(0, 0,0, 0);">LEARN
                    MORE</button>
                </div>
              </div>
              <div class="card-2" style="width: 18rem; height: 20rem;">
                <img src="../Img/Layer15.png" class="card-img-top" style="width: 120px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card with stretched link</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <button type="button" class="w-100 text-white d-none"
                    style="height: 3rem; border: 2px solid white ; background-color: rgba(0, 0,0, 0);">LEARN
                    MORE</button>
                </div>
              </div>
              <div class="card-3" style="width: 18rem; height: 20rem;">
                <img src="../Img/Layer15.png" class="card-img-top" style="width: 120px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card with stretched link</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <button type="button" class="w-100 text-white d-none"
                    style="height: 3rem; border: 2px solid white ; background-color: rgba(0, 0,0, 0);">LEARN
                    MORE</button>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
              <button type="button" class="btn btn-primary btn-lg mb-5" style="background-color: #023c8c;">VIEW
                  MORE</button>
          </div>
      </div>
      <!-- JOIN WITH US! -->
      <div class="join container mt-5">
          <div class="title mt-5 mb-5">
              <div class="title-box mx-auto text-center">
                  <h1>JOIN WITH US!</h1>
                  <div class=" d-flex justify-content-center">
                      <p style="width: 39rem;">Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry. Lorem Ipsum has been
                          the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                          galley
                          of type and scrambled it to make a type specimen book</p>
                  </div>

              </div>
          </div>
          <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-primary btn-lg mb-5" style="background-color: #023c8c;">JOIN NOW
              </button>
          </div>
      </div>
  </section>
  <footer>
    <nav class="navbar navbar-expand-lg navbar-light bg-light-d-flex">
      <div class="logo">
        <a href="#"><img src="../Img/logo .png" alt=""></a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">WHY CHOOSE US</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">INDUSTRIES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">WORKS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">OUR TEAM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">CONTACT</a>
            </li>
        </div>
      </div>
      <div>
        <div class=" contact d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">098985366</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><img
                          src="../Img/linker.png" alt="..."></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><img
                          src="../Img/twitter.png" alt="..."></a>
              </li>
          </ul>
      </div>
      </div>
    </nav>
  </footer>
</body>
<script src="../Js/home.js"></script>

</html>