<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>industries</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Css/industries.css">
    <link rel="stylesheet" href="../Css/layout.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light-d-flex">
            <div class="logo">
                <a href="#"><img src="../Img/logo.png" alt=""></a>
            </div>
            <div class="container-fluid">
                <a class="navbar-brand" href="#">WHY CHOOSE US</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">INDUSTRIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">WORKS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">OUR TEAM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">ENG/VN</a>
                        </li>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="container-box">
            <div class="card my-5 w-100 border-0">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body p-0">
                            <h2 class="card-title fw-bold">INDUSTRIES</h2>
                            <div class="d-flex mb-3">
                                <div>
                                    <img src="../img/Industries/Rectangle 17.png" alt="...">
                                </div>
                                <div class="col-md-9 ps-3">
                                    <p class="card-text">Unlock new value, build trust and bring transparency across
                                        industries and businesses with the power of Blockchain.</p>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary btn-lg rounded-0">Contact Us</button>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col img-slider">
                        <img src="../img/Industries/Layer 1.png" class="img-fluid rounded-start w-100" alt="...">
                    </div>
                </div>
            </div>
            <div class="card mb-5 w-100 border-0">
                <div class="row g-0">
                    <div class="col img-slider">
                        <img src="../img/Industries/Layer 2.png" class="img-fluid rounded-start w-100" alt="...">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col">
                        <div class="card-body p-0">
                            <p class="card-text fst-italic">our <span
                                    class="card-text fst-italic fw-bold">industries</span></p><br>
                            <img src="../img/Industries/Rectangle 15.png" alt="...">
                            <h4 class="card-title fw-bold">Consumer electronics</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                                aliquid animi excepturi fugit voluptates adipisci repellendus, ipsam hic esse libero,
                                provident molestias quod assumenda amet.</p>
                            <button type="button" class="btn btn-primary btn-lg rounded-0">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-5 w-100 border-0">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body p-0 text-end">
                            <p class="card-text fst-italic">our<span
                                class="card-text fst-italic fw-bold"> industries</span></p><br>
                            <img src="../img/Industries/Rectangle 15.png" alt="...">
                            <h4 class="card-title fw-bold">Fintech</h4>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia,
                                officia commodi! Nostrum nihil mollitia tempora consequuntur molestias voluptatum
                                repellendus magni reiciendis earum. Porro, minus quidem.</p>
                            <button type="button" class="btn btn-primary btn-lg rounded-0">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col img-slider">
                        <img src="../img/Industries/Layer 3.png" class="img-fluid rounded-start w-100" alt="...">
                    </div>

                </div>
            </div>
            <div class="card mb-5 w-100 border-0">
                <div class="row g-0">
                    <div class="col img-slider">
                        <img src="../img/Industries/Layer 4.png" class="img-fluid rounded-start w-100" alt="...">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col">
                        <div class="card-body p-0">
                            <p class="card-text fst-italic">our <span
                                    class="card-text fst-italic fw-bold">industries</span></p><br>
                            <img src="../img/Industries/Rectangle 15.png" alt="...">
                            <h4 class="card-title fw-bold">Healthcare</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                                aliquid animi excepturi fugit voluptates adipisci repellendus, ipsam hic esse libero,
                                provident molestias quod assumenda amet.</p>
                            <button type="button" class="btn btn-primary btn-lg rounded-0">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-5 w-100 border-0">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body p-0 text-end">
                            <p class="card-text fst-italic">our <span
                                    class="card-text fst-italic fw-bold">industries</span></p><br>
                            <img src="../img/Industries/Rectangle 15.png" alt="...">
                            <h4 class="card-title fw-bold">Insurance</h4>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia,
                                officia commodi! Nostrum nihil mollitia tempora consequuntur molestias voluptatum
                                repellendus magni reiciendis earum. Porro, minus quidem.</p>
                            <button type="button" class="btn btn-primary btn-lg rounded-0">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col img-slider">
                        <img src="../img/Industries/Layer 5.png" class="img-fluid rounded-start w-100" alt="...">
                    </div>

                </div>
            </div>
            <div class="card mb-5 w-100 border-0">
                <div class="row g-0">
                    <div class="col img-slider">
                        <img src="../img/Industries/Layer 6.png" class="img-fluid rounded-start w-100" alt="...">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col">
                        <div class="card-body p-0">
                            <p class="card-text fst-italic">our <span
                                    class="card-text fst-italic fw-bold">industries</span></p><br>
                            <img src="../img/Industries/Rectangle 15.png" alt="...">
                            <h4 class="card-title fw-bold">Logistics</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                                aliquid animi excepturi fugit voluptates adipisci repellendus, ipsam hic esse libero,
                                provident molestias quod assumenda amet.</p>
                            <button type="button" class="btn btn-primary btn-lg rounded-0">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-5 w-100 border-0">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body p-0 text-end">
                            <p class="card-text fst-italic">our <span
                                    class="card-text fst-italic fw-bold">industries</span></p><br>
                            <img src="../img/Industries/Rectangle 15.png" alt="...">
                            <h4 class="card-title fw-bold">Manufacturing</h4>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia,
                                officia commodi! Nostrum nihil mollitia tempora consequuntur molestias voluptatum
                                repellendus magni reiciendis earum. Porro, minus quidem.</p>
                            <button type="button" class="btn btn-primary btn-lg rounded-0">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col img-slider">
                        <img src="../img/Industries/Layer 7.png" class="img-fluid rounded-start w-100" alt="...">
                    </div>

                </div>
            </div>
            <div class="card mb-5 w-100 border-0">
                <div class="row g-0">
                    <div class="col img-slider">
                        <img src="../img/Industries/Layer 8.png" class="img-fluid rounded-start w-100" alt="...">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col">
                        <div class="card-body p-0">
                            <p class="card-text fst-italic">our <span
                                    class="card-text fst-italic fw-bold">Travel</span></p><br>
                            <img src="../img/Industries/Rectangle 15.png" alt="...">
                            <h4 class="card-title fw-bold">Travel</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                                aliquid animi excepturi fugit voluptates adipisci repellendus, ipsam hic esse libero,
                                provident molestias quod assumenda amet.</p>
                            <button type="button" class="btn btn-primary btn-lg rounded-0">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-5 w-100 border-0">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body p-0 text-end">
                            <p class="card-text fst-italic">our <span
                                    class="card-text fst-italic fw-bold">industries</span></p><br>
                            <img src="../img/Industries/Rectangle 15.png" alt="...">
                            <h4 class="card-title fw-bold">Startup</h4>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia,
                                officia commodi! Nostrum nihil mollitia tempora consequuntur molestias voluptatum
                                repellendus magni reiciendis earum. Porro, minus quidem.</p>
                            <button type="button" class="btn btn-primary btn-lg rounded-0">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col img-slider">
                        <img src="../img/Industries/Layer 9.png" class="img-fluid rounded-start w-100" alt="...">
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
<script src="../Js/industries.js"></script>

</html>