<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Css/team.css">
    <link rel="stylesheet" href="../Css/layout.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light-d-flex">
            <div class="logo">
                <a href="#"><img src="../Img/logo .png" alt=""></a>
            </div>
            <div class="container-fluid">
                <a class="navbar-brand" href="#">WHY CHOOSE US</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">INDUSTRIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">WORKS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">OUR TEAM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">ENG/VN</a>
                        </li>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="header">
            <div class="banner">
              <img src="../Img/team/banner.png" alt="banner">
            </div>
            <h1> Our Vision</h1>
            <p> We strive to help change the world with <br> Blockchain technology</p>
        </div>
        <div class="container w-100 " style="width:0">
            <div class="row">
              <div class="col">
                <div class="card border-0">
                  <img src="../Img/team/Ellipse 4.png" class="card-img-top" alt="..." style="width: 100px;">
                  <div class="card-body fw-bold">
                    <h5 class="card-title fw-bold text-start">Software Development</h5>
                    <p class="card-text text-start">Blockchain & DLT Applications
                      <br>Mobile & Web Applications
                      <br>Solution Architecture
                      <br>Agile Delivery Management
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0">
                  <img src="../Img/team/Ellipse 4 copy.png" class="card-img-top" alt="..." style="width: 100px;">
                  <div class="card-body fw-bold">
                    <h5 class="card-title fw-bold text-start">Product Innovation</h5>
                    <p class="card-text text-start">Product Ownership & Management
                      Product Discovery & Research
                      Micro & Macro Analysis
                      Data Driven UX Design</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-0">
                  <img src="../Img/team/Ellipse 4 copy 2.png" class="card-img-top" alt="..." style="width: 100px;">
                  <div class="card-body fw-bold">
                    <h5 class="card-title fw-bold text-start">Enterprise Consulting</h5>
                    <p class="card-text text-start">Digital Transformation
                      Blockchain Strategy
                      Prototyping & Proof of Concepts
                      Technology & Product Roadmaps</p>
                  </div>
                </div>
              </div>
        </div>
        <div class="container text-center my-3">
            <div class="row mx-auto my-auto justify-content-center">
              <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <img src="../Img/slider1.png" class="img-fluid">
                        </div>
                        <div class="card-img-overlay">Slide 1</div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <img src="../Img/slider2.png" class="img-fluid">
                        </div>
                        <div class="card-img-overlay">Slide 2</div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <img src="../Img/slider3.png" class="img-fluid">
                        </div>
                        <div class="card-img-overlay">Slide 3</div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <img src="../Img/slider2.png" class="img-fluid">
                        </div>
                        <div class="card-img-overlay">Slide 4</div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <img src="../Img/slider1.png" class="img-fluid">
                        </div>
                        <div class="card-img-overlay">Slide 5</div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <img src="../Img/slider3.png" class="img-fluid">
                        </div>
                        <div class="card-img-overlay">Slide 6</div>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="text-center fw-bold">
            <h1>LEADER TEAM</h1>
            <p > Our team is made up of product, business and technology experts, <br>
                 who are passnate about the future if blockchain technology</p>
          </div>
          <div class="leader-team container-box ">
            <h1 class="my-5 text-center fw-bold">LEADER TEAM</h1>
            <div class="row list-projects">
                <div class="col-md-3">
                    <div class="card">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/Layer 32.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../Img/linker.png" alt="..."></span><span><img
                                    src="../Img/twitter.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/Layer 32.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../Img/linker.png" alt="..."></span><span><img
                                    src="../Img/twitter.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/Layer 32.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../Img/linker.png" alt="..."></span><span><img
                                    src="../Img/twitter.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/Layer 32.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../Img/linker.png" alt="..."></span><span><img
                                    src="../Img/twitter.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/Layer 32.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../Img/linker.png" alt="..."></span><span><img
                                    src="../Img/twitter.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/Layer 32.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../Img/linker.png" alt="..."></span><span><img 
                                    src="../Img/twitter.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card ">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/Layer 32.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../Img/linker.png" alt="..."></span><span><img
                                    src="../Img/twitter.png" alt="..."></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="d-flex justify-content-center">
                            <img src="../img/team/Layer 32.png" class="card-img-top w-50 my-4" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-text">Alan Burt</h3>
                            <p class="card-text text-center mx-5">Co-Founder and Chairperson</p>
                            <span class="pe-3"><img src="../Img/linker.png" alt="..."></span><span><img
                                    src="../Img/twitter.png" alt="..."></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- our partner -->
    <div class="our-partner">
        <div class="banner-2 text-center">
            <img class="w-100" src="../Img/team/Layer 33.png" alt="">
            <h1 class="">OUR PARTNER</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A architecto minus praesentium nobis fugiat veritatis eum? Ipsa quo sequi iure qui libero quasi odit hic iusto. </p>
        </div>
    </div> 
    </section>
    <footer>
        <nav class="navbar navbar-expand-lg navbar-light bg-light-d-flex">
          <div class="logo">
            <a href="#"><img src="../Img/logo .png" alt=""></a>
          </div>
          <div class="container-fluid">
            <a class="navbar-brand" href="#">WHY CHOOSE US</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">INDUSTRIES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">WORKS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">OUR TEAM</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">CONTACT</a>
                </li>
            </div>
          </div>
          <div>
            <div class=" contact d-flex">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">098985366</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#"><img
                              src="../Img/linker.png" alt="..."></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#"><img
                              src="../Img/twitter.png" alt="..."></a>
                  </li>
              </ul>
          </div>
          </div>
        </nav>
      </footer>
</body>

<script src="../Js/team.js"></script>

</html>